<div class="jumbotron">
  <h1>Shrekanography</h1>
  <p>
     <dl>
       <dt>steganography</dt>
       <dd>the art or practice of concealing a message, image, or file within another message, image, or file</dd>
       <dt>Shrek</dt>
       <dd>green ogre, beloved of an entire generation</dd>
     </dl>
     <a class="btn btn-primary">Let's do it</a>
  </p>
</div>

