<div class="jumbotron">
  <h1>Shrekanography</h1>
  <p>
     <dl>
       <dt>steganography</dt>
       <dd>the art or practice of concealing a message, image, or file within another message, image, or file</dd>
       <dt>Shrek</dt>
       <dd>green ogre, beloved of an entire generation</dd>
     </dl>
     <%= link "Let's do it", to: encoding_path(@conn, :new), class: "btn btn-primary" %>
  </p>
</div>

